<div class="media well posts_list">
		<a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object"></a>
		<div class="media-body">
			<h4 class="media-heading"><%= @post.title %></h4><%= @post.content %>
		</div>
		<button class="btn btn-sm btn-primary post_like_button" data-post="<%= post.id%>">Like (<%= @post.likes_count %>) </button>
</div>